*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: inline-flex;
    flex-flow: row wrap;
    width: 50%;
}
.specialSection{
    flex-basis: 3;
}
.App{
    width: 75%;
    margin: 0 auto;
}
.numberSection{
    display: flex;
    flex-flow: row wrap;
}

.opSection{
    display: inline-flex;
    flex-flow: column nowrap;
}

.btns{
    text-align: center;
}
.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 100%;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

button{
    color: white;
    border:none;
    padding: 10px 15px;
    margin:10px;
    border-radius: 30px;
    outline: 0;
}

.number{
    background: #184379;
}

.number:active{
    background:#143662;
}

.operator{
    background: #237293;
}

.operator:active{
    background: #1d5e79;
}

.specialOp{
    background: #225d9e;
}

.specialOp:active{
    background: #1c4e84;
}

.output{
    background: #323335;
}